@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Κρύβει την μπάρα scroll αλλά επιτρέπει την κύλιση */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body, a, button, input, textarea, select {
    cursor: none !important;
}

main {
  will-change: transform;
  transform: translateZ(0); /* Ενεργοποιεί το Hardware Acceleration */
  backface-visibility: hidden;
}
:root {
  background-color: #0f172a; /* Το σκούρο χρώμα του site σου */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0f172a; /* ΕΔΩ ΕΙΝΑΙ ΤΟ ΚΛΕΙΔΙ */
  color: white;
  
  /* Αυτό σταματάει το ελαστικό "bounce" στο iPhone που δείχνει το άσπρο φόντο */
  overscroll-behavior-y: none; 
}